{% extends "layouts/base-auth.html" %}
{% load static %}


{% block content %}

<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="https://flowbite-admin-dashboard.vercel.app/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">
        <span>Flowbite</span>  
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Password Reset Done
        </h2>
        <span class="block text-sm font-medium text-gray-500 dark:text-gray-400">Your password has been reset successfully.</span>
        <a href="{% url "signin" %}" class="block ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500">Back to login</a>
    </div>
</div>

{% endblock content %}